.content p {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}