#about {
    height: 90vh;
}

.content p {
    /* font-size: clamp(0.5rem, 1vw ,1.2rem); */
    font-size: 1.2rem;
}

.img {
    margin-right: 40px;
    
}

.img img {
    border-radius: 8px;
    height: 45vh;
}