#cardHobbies {
    display: flex;
    flex-direction: row;
}

#experience .card {
    width: 15vw;
    height: 150px;
    background-color: #A200FF;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    padding: 5px;
    flex-direction: column;
}
#experience .cardTitle {
    background-color: white;
    color: #A200FF;
    border-radius: 10px;
    padding: 5px;
    width: 30%;
    text-align: center;
}

