#home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 5em;
}

h1 + p {
    text-align: end;
    font-size: 2em;
    font-family: monospace;
    line-height: 0em;
}

#home span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
}

#home a {
    color: white;
}