@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Hubballi&family=Montserrat:wght@100;300&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

/* Faz os scrolls controlados */
html {
    scroll-snap-type: y mandatory;
}
body {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
    height: 100vh;
    padding-top: 90px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #dcdcdc;
    color: black;
    width: 100%;
    height: 80px;
}
h1 {
    font-family: 'Fredoka', sans-serif;
}

header p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: end;
    font-size: 1rem;
}

nav {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}
nav a:nth-child(1),
nav a:nth-child(2)  {
    padding-right: 10px;
    margin-right:10px;
    border-right: 1px solid black; 
}

header a,
header a:link, 
header a:visited,
header a:hover,
header a:active {
    text-decoration: none;
    color: black;
}

.about {
    display: flex;
    margin-left: 15vw;
    margin-right: 15vw;
}

.img_about {
    border-radius: 100%;
    width: 25vw;
    height: 25vw;
    background-image: url('../img/20190922_170138.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.about p {
    font-family: 'Hubballi', cursive;
    font-size: 1.5rem;
    padding: 10px;
    margin-left: 20px;
}

h2 {
    font-family: 'Hubballi', cursive;
    font-size: 2rem;
    text-align: center;    
}

[cards] {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 25px;
    width: 220px;
    height: 275px;
    margin-right: 20px;
}

.img-card {
    width: 210px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 22px 22px 0 0;
    margin-top: 3px;
}

.span-title {
    font-size: 1.7rem;
    font-family: 'Hubballi', cursive;
    margin-top: 10px;
}

.span-description {
    margin-top: 5px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

[cards] a {
    text-decoration: none;
}