*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Faz os scrolls controlados */
html {
    scroll-snap-type: y mandatory;
}
body {
    scroll-snap-type: y mandatory;
}


section {
    scroll-snap-align: start;
    height: 100vh;
    padding-top: 100px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #808080;
    color: white;
    width: 100%;
    height: 80px;
}

.about {
    display: flex;
    margin-left: 15vw;
    margin-right: 15vw;
}

.img_about {
    border-radius: 100%;
    width: 25vw;
    height: 25vw;
    background-image: url('../img/20190922_170138.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.about p {
    font-size: 1.2rem;
    padding: 10px;
}

h2 {
    text-align: center;    
}