*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    display:inline-block;
    text-transform: uppercase;
    box-shadow: inset 0px 6px 0px #A200FF;
    -webkit-box-shadow: inset 0px -6px 0px #A200FF;
}

.section {
    width: 70vw;
    padding: 10px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#exp {
    display: flex;
    flex-direction: row;
}

#experience, #education {
    width: 50%;
}

.font-700 {
    font-weight: 700;
}

body::-webkit-scrollbar {
    width: 0.30rem; 
}
  
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
  
body::-webkit-scrollbar-thumb {
    background: #A200FF;
}